@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body{
    background-color: #041562;
    font-family: 'Poppins', sans-serif;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: 'Kavoon', cursive;
    color: rgb(255, 255, 255);
    font-size: 35px;
}

.subtitulo{
    color: white;
    font-size: 25px;
}

.tarjetas, .tarjetas-ataques{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 200px;
    height:100px;
    background-color: #11468f;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-content: center;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon:hover {
    cursor: pointer;
    border-style: double;
}

.tarjeta-de-mokepon img{
    width: 80px;
}

input{
    display: none;
}

input:checked + label{
    width: 100px;
    background-color: #85d8bf;
}

#seleccionarMascota{
    background: transparent;
    height: 40px;
    width: 180px;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    background-color: #11468f;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#mensajes{
    width: 280px;
    background-color: #eeee;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

#boton-reiniciar{
    border: none;
    color: #11468f;

}

.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
}

.ataques-jugador, .ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width:360px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;

    }
}